div > nav {
  background: #f5f5f5 !important;
}
html {
  font-family: Lato, -apple-system, 'Helvetica Neue', 'Segoe UI',
    'Hiragino Sans', 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
}
code {
  font-family: -webkit-body;
  /* font-family: SFMono-Regular, Consolas, "Liberation Mono", Menlo, Courier, monospace; */
  background: #fff6b1;
}
.yomo_describe {
  -webkit-letter-spacing: -0.01em;
  -moz-letter-spacing: -0.01em;
  -ms-letter-spacing: -0.01em;
  letter-spacing: -0.01em;
  text-align: center;
  color: #212121;
  padding-top: 0.5rem;
  font-size: 1.6rem;
  margin: 0 auto 0.5rem;
  font-weight: 900;
  line-height: 1.3;
}
.cut_line {
  width: 1.25rem;
  height: 3rem;
  margin: 0 auto;
  background: #e4e4e4;
}

.plate {
  padding: 1.5rem;
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}
.violet {
  background: #f5f5f5;
}
.blue {
  background: #e4f6fd;
}

pre {
  background-color: #ffffff;
  border: 2px #7ed6ff solid;
  color: #fff;
}

span[class~='plain'] {
  color: #197cd3;
}
.plate h2 {
  margin-top: 0;
}

.plate h3 {
  margin-top: 2rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
}

.text-lg {
  display: inline-block;
  padding: 0.5rem 1.5rem 0.75rem;
  border-radius: 0.5rem;
  border: 2px solid #197cd3;
  background: #197cd3;
  color: #fff;
  text-decoration: none;
  line-height: 1.3;
}
.text-lg:hover {
  color: #cecece;
}

.sidebar {
  display: none;
}

code {
  font-family: "Lucida Console", "Courier New", monospace;
}
